@import "uikit.min";
@import "mediaplayer.min";


html {
  background-color:black;
 
}
// headline

h1 {
  text-transform:uppercase;
  text-align:center;
  color:white;
  
}


// body
video {
  border: 10px solid red;
  align-self:center;
}

// score: 0, 0, 0, 2
ul {
  list-style-type:none;
}

a:link {
  color:red;
  text-decoration:none;
}

a:visited {
  color:orange;
}

a:hover {
  background-color:yellow;
}

